name: AI Code Review

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: AI Reviewer
        uses: sshnaidm/gemini-code-review-action@v1
        env:
          gemini-key: ${{ secrets.AI_API_KEY }}
          model: gemini-2.5-flash
          prompt: |
            Aja como um Engenheiro de Segurança Sênior (DevSecOps).
            Analise o DIFF deste Pull Request buscando:
            - Vulnerabilidades OWASP Top 10 (ex: SQL Injection)
            - Code Smells
            - Más práticas em Java e Spring Boot
            Gere comentários técnicos e construtivos.
