name: AI Code Review

on:
  pull_request:
    types: [opened, synchronize]

jobs:
  review:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: AI Reviewer
        uses: anc95/ChatGPT-CodeReview@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.AI_API_KEY }}
          LANGUAGE: Portuguese
          MODEL: gpt-4o
          PROMPT: |
            Aja como um Engenheiro de Segurança Sênior (DevSecOps).
            Analise o DIFF deste Pull Request buscando:
            - Vulnerabilidades OWASP Top 10 (ex: SQL Injection)
            - Code Smells
            - Más práticas em Java e Spring Boot
            Gere comentários técnicos e construtivos.
